<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>React ExpressJS</title>
</head>

<body>
  <div id="mount-point">
  </div>
  <script src="https://vk.com/js/api/openapi.js?159"></script>
  <script src="/bundle.js"></script>
  <script language="javascript">
      VK.init({
          apiId: 6697024
      });
  </script>
</body>

</html>